<div class="row" style="font-size: 14px;">
    <% if(item.id){ %>
    <div class="col-md-5"><b>Sector id:</b></div>
    <div class="col-md-5">
        <%= item.id.value %>
    </div>
    <% } %>
    <br/><br/>
    <% if(item.fetchTime){ %>
    <div class="col-md-5"><b>Fetch Timestamp:</b></div>
    <div class="col-md-7">
        <%= item.fetchTime.value %>
    </div>
    <% } %>
    <br/>
    <div class="col-md-12"><h4>Current Values:</h4></div>
    <% if(item.currentSpeed){ %>
    <div class="col-md-5"><b>Speed:</b></div>
    <div class="col-md-5">
        <%= item.currentSpeed %> km/h
    </div>
    <% } %>
    <% if(item.currentTravelTime){ %>
    <div class="col-md-5"><b>Travel Time:</b></div>
    <div class="col-md-5">
        <%= item.currentTravelTime %> secs
    </div>
    <% } %>
    <br/><br/>

    <div class="col-md-12"><h4>Free-Flow Values:</h4></div>
    <br/>
    <% if(item.freeFlowSpeed){ %>
    <div class="col-md-5"><b>Speed:</b></div>
    <div class="col-md-5">
        <%= item.freeFlowSpeed %> km/h
    </div>
    <% } %>
    <% if(item.freeFlowTravelTime){ %>
    <div class="col-md-5"><b>Trave lTime:</b></div>
    <div class="col-md-5">
        <%= item.freeFlowTravelTime %> secs
    </div>
    <% } %>
    <div></div>
</div>
