#cartocss::points {
    line-width: 3;
    line-opacity: 0.7;
    line-offset: 0;
    [extra_map_info=0]{line-color: #007BFF;}
    [extra_map_info=1]{line-color: #FFCC00;}
    [extra_map_info=2]{line-color: #B81609;}
}